.blog__landing{
    display: flex;
    flex-direction: column;
    height: 100vh;
   
}
.blog__landing img{
    width: 200px;
    height: 50px;
   margin-bottom: 30px;
}
.blog__landing-content__heading{
    text-align: center;
    margin-top: 50px;
  
}
.blog__landing-content__heading h1{
 color: #fff;
    font-weight: 600;
    font-size: 51px;
  letter-spacing: -0.1rem;
}

.blog__landing-content__subheading{
    margin: 2rem 0rem;
    text-align: center;
    color: var(--color-subheading);
    
}
.blog__landing-content__subheading h1{
    font-size: 24px;
   color: #fff;
}
.blog__landing-content__buttons{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
}
.blog__landing-content__buttons button{
    padding: 1rem 4rem;
    border-radius: 70px;
    border: 2px solid var(--color-text);
    color:white;
    background-color: var(--color-subtext2);
    font-weight: 500;
    font-size: 22px;
}
.blog__landing-content__buttons button:hover{
    cursor: pointer;
    color: #fff;
    background: var(--color-subtext2);
    border: 2px solid var(--color-subtext2);
}

 @media screen and (max-width:580px){
  .blog__landing-content__buttons{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}
