*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body{
  background: var(--color-bg);
  font-family: "Nunito Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Public Sans", sans-serif; /* Header font family */
}
p {
  font-family: "Merriweather", serif; /* Paragraph font family */
}

.gradient__bg{
  /* background: radial-gradient(circle at 25% 3%, rgba(245, 245, 245, 1) 0%, rgba(220, 220, 220, 1) 50%, rgba(176, 196, 222, 1) 100%); */

  /* background: radial-gradient(circle at 25% 3%, rgba(245, 245, 220, 1) 0%, rgba(220, 220, 220, 1) 50%, rgba(222, 222, 148, 1) 100%); */
  background: radial-gradient(circle at 25% 3%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 1%, rgba(245, 245, 245, 1) 100%);
 

}

.gradient__landingbg{
  /* background: linear-gradient(90deg, rgba(186, 85, 211, 1) 0%, rgba(147, 112, 219, 1) 100%); */
  background: linear-gradient(90deg, rgba(143, 137, 82, 1) 0%, rgba(186, 180, 144, 1) 100%);
}

  a{
    color: unset;
    text-decoration: none;
  }
  .gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clop: text;
    -webkit-text-fill-color: transparent;
  }
  .section__padding{
    padding: 4rem 2rem;
  }
  .section__margin{
    margin: 4rem 6rem;
  }
  .scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

 